body {
    overflow-x: hidden;
    font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Fira Sans';
}

html,body, header, section, footer
{
    width: 100%;
    margin: 0rem;
    padding: 0rem;

}
.lang-panel{
    top: 0.2rem;
    padding:0.2rem;
    right: 50vw;
    font-size:0.6rem;
    background-color: #e0e1e3;
    transform: translateX(26.5rem);
}

.lang-panel-mobile{
    top: 1.2rem;
    padding:0.2rem;
    right:6rem;
    font-size:0.6rem;
    background-color: #e0e1e3;
}

.navbar-brand img {
    height: 2.2rem;
    margin-top: -0.45rem;;

}

.navbar {    
    font-size: .8rem;
    font-weight: 400;   


}

.nav-margin{

}

.nav-item{
    padding: 0rem;
    font-weight: 400;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item .nav-link:active,
.navbar-light .nav-item .nav-link:focus,
.navbar-light .nav-item:hover .nav-link {
    color: #3ba933;
    font-weight:bold;
}

.font-sm{
    font-size: 0.7rem;
    line-height: 1.5;
    font-weight: 400;

}

h1{
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 600;

    line-height: 0.88;
    margin-top: 0;
    margin-bottom:0rem;
}
.carousel-empty{
    width:100%;
    min-height: 20rem;
    display:block;
    background-color: #e0e1e3;
    border:0px solid grey;

}
.max-width-limit{
    max-width: 25rem;
    
}

.content-width-limit{
    max-width: 1143px;
    min-width: 340px;
}



.subtitle{
    font-size: 1.15rem;
    font-style: italic;
    margin-top: 0rem;
    margin-left: 3rem;
}

.rounded-img{   
    width: 221px;    
    height: 221px;
    min-width: 210px;
    min-height: 210px;

}
.rounded-img-sm{   
    width: 141px;
    height: 141px;

}

.small-item{
    font-size: 0.78rem;
    font-style: italic;
    font-weight: 300;
    

}

.news-img{
    width:90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.news-back-img{
    height:30rem;
    right:-130px;
    top: -190px;
    position:absolute;
}

.news-bg{    

    background-color: #e1e3e1;

}
.partner-img{    
    max-height: 5rem;    
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(30%);
}



.bg-custom1 {
    background-color: rgba(0,0,0,.3); 
    border-radius: 1rem;
}
.p-custom{
    font-weight: 600;
    background-color: rgba(255,255,255,0.4);
    text-align: justify;
    font-size: 0.9rem;
}

.card img{

    height:20rem;
}
.card-body{
    font-weight: 400;
    text-align: justify;
    font-size: 1.2rem;

}

.card-body ul {
    font-size: 1.1rem;

    margin: 0;
    padding:0;
    list-style-type: none;
}

.row{
    border-radius: 0;

}



.my-border{
    border-top: .2rem solid;
}

.carousel-inner{


}


/*---Change Carousel Transition Speed --*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    transition: transform 2s ease;

}
.carousel-caption{
    top:0;    
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

.height-370{
    height:370;
}


footer {
    height: 341px;
    margin: auto;


}

footer img {
    height: 2.5rem;


}

footer p,
footer a,
.socket a   {
    color: white;
    text-decoration: none;

}

footer p{
    margin-top:0.2rem;
    margin-bottom:0.2rem;
    font-weight: 300;
}

.social {
    font-size: 2rem;



} 





@media only screen and  (max-width: 576px) {


}