<section class="container-fluid m-0 p-0 mx-auto justify-content-center">




    <!--Founders-->
    <div class="container-fluid news-bg position-relative">
        <img class="d-none d-md-flex news-back-img" src="img/news/backgroundImg.png" alt=""/>

        <div class="row content-width-limit mx-auto">           
            <h1 class='my-3 pr-2 text-white text-left'>
                Засновники</h1>           

        </div>


        <div class="row content-width-limit mx-auto font-sm">


            <div class="col-md-4" ng-repeat="people in teamController.founders">
                <div class="row p-2">

                    <div class="my-2 mx-auto">
                        <a ui-sref="public.home">Home</a>
                        <img class='news-img img-fluid rounded-circle rounded-img-2' ng-src="{{people.image}}" alt=""/>

                    </div>

                    <div class="text-left max-width-12 font-sm  mx-md-auto pr-3">

                        <h6 class="text-primary  font-weight-bold">{{people.name}}</h6>
                        <p class="font-weight-bold">{{people.title}}</p>
                        <p class="">{{people.subtitle}}</p>
                    </div>

                </div>
            </div>



        </div>
    </div>


    <!--Experts-->

    <div class="container-fluid experts-bg position-relative">
        <img class="d-none d-md-flex news-back-img" src="img/news/backgroundImg2.png" alt=""/>

        <div class="row content-width-limit mx-auto">           
            <h1 class='my-3 pr-2 text-light text-left'>
                Експерти</h1>           

        </div>


        <div class="row content-width-limit mx-auto font-sm">


            <div class="col-md-4" ng-repeat="people in teamController.experts">
                <div class="row p-2">
                    <div class="my-2 mx-auto">
                        <img class='news-img img-fluid rounded-circle rounded-img-2' ng-src="{{people.image}}" alt=""/>
                    </div>

                    <div class="text-left max-width-12 font-sm  mx-md-auto pr-3">
                        <h6 class="text-primary  font-weight-bold">{{people.name}}</h6>
                        <p class="font-weight-bold">{{people.title}}</p>
                        <p class="">{{people.subtitle}}</p>

                    </div>
                </div>
            </div>



        </div>
    </div>



</section>
